.container {
  width: 94%;
  max-width: 452px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
}


.container p, h3 {
  margin-top: 20px;
}

.imgForm {
  margin-top: 10px;
  width: 200px;
}