.containerFilterBtn {
  display: flex;
  width: 370px;
  height: 68px;
  margin-left: 16px;
  margin-top: 18px;
  margin-bottom: 20px;
  align-items: center;
  background-color: white;
  justify-content: space-evenly;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.btnPayment {
  background-color: rgba(35, 147, 247, 1);
  width: 122px;
  height: 44px;
  border-radius: 5px;
  color: white;
  font-weight: 900;
}

.btnCategory {
  background-color: rgba(35, 147, 247, 1);
  width: 116px;
  height: 44px;
  border-radius: 5px;
  color: white;
  font-weight: 900;
}

.btnClear {
  background-color: rgba(35, 147, 247, 1);
  width: 82px;
  height: 44px;
  border-radius: 5px;
  color: white;
  font-weight: 900;
}

.containerList {
  display: flex;
  width: 370px;
  height: 330px;
  flex-direction: column;
  margin-left: 16px;
  margin-top: 18px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  overflow: auto;
}

.containerListNotScroll {
  display: flex;
  width: 370px;
  height: 330px;
  flex-direction: column;
  margin-left: 16px;
  margin-top: 18px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px; 
}

.subContainer {
  background-color: rgb(240, 243, 248);
  border-radius: 8px;
  display: flex;
  margin-left: 12px;
  margin-top: 12px;
  height: 47px;
  min-height: 47px;
  width: 350px;
  align-items: center;
}

.Salário {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  width: 31px;
  height: 30px;
  background-color: rgba(204, 236, 221, 1);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.20);
}

.Alimentação {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  width: 31px;
  height: 30px;
  background-color: rgb(237, 221, 202);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.20);
}

.Transporte {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  width: 31px;
  height: 30px;
  background-color: rgba(221, 226, 237, 1);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.20);
}

.Saúde {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  width: 31px;
  height: 30px;
  background-color: rgb(241, 221, 221);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.20);
}

.Lazer {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  width: 31px;
  height: 30px;
  background-color: rgb(248, 248, 205);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.20);
}

.Compras {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  width: 31px;
  height: 30px;
  background-color: rgb(238, 213, 231);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.20);
}

.textPayment {
  color: black;
  font-weight: 600;
  font-size: 14px;
}

.textCategory{
  font-weight: 450;
  font-size: 12px;
  width: 170px;
  color: rgb(178, 178, 181);
  margin-left: 1px;
  margin-bottom: 2px;
}

.textPrice {
  color: black;
  font-weight: 600;
  font-size: 15px;
  width: 90px;
}

.textAddExpense {
  color: rgb(138, 135, 135);
  font-weight: 600;
  font-size: 22px;
  margin-top: 135px;
  margin-left: 50px;
}

.backGroundIndicatorPositiveAndNegative {
  margin-left: 5px;
  margin-right: 2px;
}

.btnYes {
  background-color: rgb(24, 206, 11);
  width: 82px;
  height: 44px;
  border-radius: 5px;
  color: white;
  font-weight: 900;
}

.btnNo {
  background-color: rgba(222, 7, 7, 0.92);
  width: 82px;
  height: 44px;
  border-radius: 5px;
  color: white;
  font-weight: 900;
}

.containerQuestionBtn {
  margin-top: 20px;
  width: 370px;
  display: flex;
  justify-content: space-evenly;
}