.container {
  display: flex;
  align-items: center;
  gap: 190px;
  margin-left: 18px;
  margin-top: 15px;
}

.line {
  background-color: rgba(35, 147, 247, 1);
  height: 4px;
  width: 400px;
}

.sideBar {
  background-color: darkgray;
  width:  180px;
  height: 90px;
  margin-left: 205px;
}
