.container {
  align-items: center;
  display: flex;
  height: 180px;
  width: 94%;
  max-width: 452px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.subContainer {
  margin: auto;
  height: 156px;
  width: 94%;
}

.inputsPriceAndCategory {
  margin-right: 4%;
  width: 46%;
  height: 44px;
  border-radius: 4.5px;
  background-color: rgb(240, 243, 248);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.inputsPayment {
  width: 50%;
  height: 44px;
  border-radius: 4.5px;
  background-color: rgb(240, 243, 248);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.btnAdd {
  background-color: rgba(35, 147, 247, 1);
  width: 50%;
  height: 44px;
  border-radius: 4.5px;
  color: white;
  font-weight: 900;
}

.btnEdit {
  background-color: rgb(243, 155, 23);
  width: 50%;
  height: 44px;
  border-radius: 4.5px;
  color: white;
  font-weight: 900;
}

.inputCategory {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
  height: 44px;
  border-radius: 4.5px;
  background-color: rgb(240, 243, 248);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

input[type="text"]::placeholder {
  padding-left: 7px;
}

input[type="number"]::placeholder {
  padding-left: 7px;
}

select {
  padding-left: 6px;
}

.messageInput {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 196, 196);
  color: rgb(188, 3, 3);
  border: 1px solid rgb(188, 3, 3);
  margin: auto;
  height: 44px;
  width: 94%;
  max-width: 368px;
}